<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search books</title>
</head>
<body>

<form th:method="GET" th:action="@{/books/search}">
   <label for="search">Введите поисковый запрос: </label>
    <input type="text"  id="search" th:name="s"/>
    <br/>
    <input type="submit" value="Искать!"/>
</form>

<div th:if="${book}">
    <p th:text="${book.getTitle()+', '+book.getAuthor()+', '+book.getYear()}">VALUE</p>

    <div th:if="${owner}">
        <span>Книга сейчас у: </span> <span th:text="${owner.getFullName()}">Person Name</span>
        <hr/>
    </div>

    <div th:if="${people}">
        <span>Эта книга свободна</span>
        <hr/>
    </div>


</div>
<div th:if="${noBooks}">
    <p>Книг не найдено</p>

</div>

</body>
</html>